<h2> <%= @contact.first_name %> <%= @contact.last_name %></h2>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Note:</strong></p><p><%= @contact.note %></p>
<br>

<form action="/contacts/<%= @contact.id %>" method="post">
	<input type="hidden" name"_method" value"delete">
	<input type="submit" value="Delete" name="Delete Contact">
</form>


<div>
	<a href="/contacts/<%= @contact.id %>/edit">Edit Contact</a>
</div>